* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  background: #e3e3e3;
}
.container a {
  color: black;
}
.container a:hover {
  color: #ffac00;
}
.container p {
  display: inline-block;
  margin: 10px 0 10px;
}
.container p:nth-child(3) {
  color: #666;
}
.container-fluid {
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(../images/notes_recommend_images/bann2.jpg);
}
.container-fluid .zhinan {
  line-height: 100%;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 40%;
  color: white;
  margin-top: 50px;
}
.container-fluid .zhinan .txt {
  text-align: left;
}
.container-fluid .zhinan .address {
  border-top: 1px dashed white;
  text-align: left;
}
.container-fluid .zhinan .address a {
  color: white;
}
.container-fluid .zhinan .address a:hover {
  color: #ffac00;
}
@media (max-width: 920px) {
  .container-fluid .txt {
    display: none;
  }
  .container-fluid .zhinan {
    width: 50%;
  }
  .addtxt {
    white-space: nowrap;
  }
}
@media (max-width: 720px) {
  .container-fluid .txt {
    display: none;
  }
  .container-fluid .zhinan {
    width: 60%;
  }
  .addtxt {
    white-space: nowrap;
  }
}
.jieshao {
  background: white;
  margin-top: 10px;
}
.jieshao .bgtu > img {
  width: 100%;
}
.jieshao .xiaotu {
  margin-top: 5px;
}
.jieshao .xiaotu li {
  padding: 0;
  display: inline-block;
}
.jieshao .xiaotu .col-lg-5 img {
  width: 100%;
  height: 137px;
}
.lasatxt p {
  margin: 0;
}
.lasatxt h5 {
  font-weight: bold;
  margin-bottom: 0px;
}
.lasatxt h4 {
  margin-top: 25px;
  font-weight: bold;
}
.lasatxt span {
  color: #ffac00;
}
.lasatxt .mon {
  background: #e3e3e3;
  margin-top: 10px;
  display: inline-block;
}
.lasatxt .mon .left {
  width: 85%;
  float: left;
}
.lasatxt .mon .right {
  width: 15%;
  float: right;
}
.lasatxt .tuijian h4 {
  margin: 0;
  height: 30px;
  line-height: 30px;
}
.lasatxt .tuijian .btn {
  border-radius: 16px;
}
.lasatxt .tuijian .btn:hover {
  background-color: #ffac00;
  color: white;
  border-color: white;
}
.lasatxt .touxiang {
  display: inline-block;
}
.lasatxt .touxiang .img {
  float: left;
  width: 20%;
  margin-top: 10%;
  vertical-align: middle;
}
.lasatxt .touxiang .set {
  float: right;
  width: 80%;
}
.lasatxt img {
  width: 80px;
  height: 80px;
}
@media (max-width: 1200px) {
  .xiaotu {
    display: none;
  }
}
